
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="favicon.ico">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>SALE.ro</title>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/bower_components/select2/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/bower_components/jQuery-slimScroll-1.3.8/jquery.slimscroll.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="/bower_components/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="/bower_components/jquery-ui-1.12.1/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/custom-icon-set.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="tile white m-b-10">
    <div class="tile-title">
        <div class="controller">
            <a href="" class="collapse pull-right m-l-15">&nbsp;</a>
        </div>
        <h3 class="no-margin m-b-10">Product_catalog</h3>
    </div>
    <div class="tile-body">
        <div class="own-products row">
            <div class="col-md-6">
                You Have <a class="own-products"> active_products_in_the_catalog</a><br />
                <a class="new-product-requests">new_product_requests</a>
            </div>
            <div class="col-md-6">
                <a class="add-product">Add_product</a>
            </div>
        </div>
        <div class="all-products">
            <a class="all-products">active_products_in_the_catalog</a>
            <a class="favorite-products">favorite_products</a>
        </div>
    </div>
</div>
</body>
</html>
