
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="favicon.ico">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>SALE.ro</title>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/bower_components/select2/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/bower_components/jQuery-slimScroll-1.3.8/jquery.slimscroll.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="/bower_components/select2/dist/css/select2.min.css" />
    <link rel="stylesheet" href="/bower_components/jquery-ui-1.12.1/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/responsive.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/custom-icon-set.css" rel="stylesheet" type="text/css"/>

</head>

<!-- BEGIN BODY -->
<body class="error-body no-top login">
<!-- BEGIN CONTAINER -->
<div class="bg-container">
    <div class="container">

        <!-- Include the view file for the current controller/route -->
        <div class="row login-container">
            <div class="col-md-10 col-xs-10 text-center centered">
                <img src="/img/logo-ue.png" />
                <p class="text-black m-t-20 m-b-5">Programul Operational Sectorial "Cresterea Competitivitatii Economice" - <strong class="italic">Investitii pentru viitorul dumneavoastra</strong></p>
                <p class="text-black m-b-5"><strong>Sistem Alternativ de Licitatii Electronice SALE - SMIS 46690</strong> - Proiect cofinantat prin Fondul European de Dezvoltare Regionala</p>
            </div>
            <div class="row no-margin">
                <div class="col-md-8 col-md-offset-2 col-xs-4 p-r-5">
                    <div class="tile">
                        <div class="tile-title m-t-0 p-l-5">
                            <h4 class="bold">Inregistrare</h4>
                        </div>
                        <form id="register-form" class="login-form" action="/register" method="post">
                            <div class="tiles-body">

                                <div class="clearfix"></div>
                                <div class="row p-t-10 no-margin">
                                    <div class="col-sm-12 col-xs-12 col-md-12 pull-left m-b-10 m-t-0">
                                        <input type="text" name="username" id="username" class="form-control" autofocus="" placeholder="Utilizator"  />
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-12 pull-left m-b-10 m-t-0">
                                        <input type="password" name="password" id="password" class="form-control" placeholder="Parola"  />
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-12 pull-left m-b-10 m-t-0">
                                        <input type="password" name="password_repeat" id="password_repeat" class="form-control" placeholder="Repeta Parola"  />
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-12 pull-left m-b-10 m-t-0">
                                        <input type="text" name="email" id="email" class="form-control" autofocus="" placeholder="Email"  />
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-12 pull-left m-b-10 m-t-0">
                                        <input type="text" name="SSNS" id="SSNS" class="form-control" autofocus="" placeholder="Serie Card Identiate"  />
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-12 pull-left m-b-10 m-t-0">
                                        <input type="text" name="SSNR" id="SSNR" class="form-control" autofocus="" placeholder="Numar Card Identiate"  />
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-12 pull-left m-b-10 m-t-0">
                                        <input type="text" name="company_name" id="company_name" class="form-control" autofocus="" placeholder="Nume Companie"  />
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-12 pull-left m-b-10 m-t-0">
                                        <input type="text" name="CCode" id="CCode" class="form-control" autofocus="" placeholder="Cod de Identificare Fiscală"  />
                                    </div>
                                </div>
                                <div class="row no-margin">
                                    <div class="p-l-5 p-r-5">
                                    </div>
                                </div>
                            </div>
                            <div class="p-t-10 p-b-5 p-l-5 p-r-5 text-center">
                                <button class="btn btn-primary btn-cons" type="submit">Inregistreaza</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-5 text-center centered">
                <p class="text-white m-t-20 m-b-10">Pentru informatii detaliate despre celelalte programe operationale cofinantate de Uniunea Europeana va invitam sa vizitati <a class="text-white underline" href="http://www.fonduri-ue.ro/" target="_blank" title="Ministerul Fondurilor Europene">www.fonduri-ue.ro</a></p>
                <p class="text-white m-b-20">Continutul acestui material nu reprezinta în mod obligatoriu pozitia oficiala a Uniunii Europene sau a Guvernului României.</p>
            </div>
        </div>
    </div>
    <!-- END CONTAINER -->
</div>
<div class="container m-t-10 m-b-20">
    <div class="text-right" id="powerdby"><img src="/img/4esoft.png" /></div>
</div>

</body>
</html>
